<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">


        <!-- lib -->
        <script src="assets/js/lib/vue.min.js"></script>
        

        <!-- data -->
        <script src="assets/src/high_quality_metalware_tool.js"></script>


        <!-- application -->
        
        <!-- table -->
        <script src="assets/js/application/table/table.js"></script>
        <!-- table type -->
        <script src="assets/js/application/table/type/table.type.build.js"></script>
        <!-- table race -->
        <script src="assets/js/application/table/race/table.race.build.js"></script>
        <!-- table list -->
        <script src="assets/js/application/table/list/table.list.build.js"></script>
        <!-- table pick -->
        <script src="assets/js/application/table/pick/table.pick.build.js"></script>
        <!-- table prefer -->
        <script src="assets/js/application/table/prefer/table.prefer.build.js"></script>
        <!-- table build -->
        <script src="assets/js/application/table/table.build.js"></script>
        

        <!-- style -->
        <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
            <div id="table">
                <div class="container category-container">
                    <div class="category type">
                        <label 
                            v-for="i in element.table.type.get()"
                            :key="i.key"
                            :class="i._class"
                            :for="i._id"
                        >
                            <input type="radio" :id="i._id" @click="element.table.type.click(i.key)" v-model="model.type" name="type" :value="i.name">
                            <span>{{i.name}}</span>
                        </label>
                    </div>
                    <div class="category race">
                        <label 
                            v-for="i in element.table.race.get()"
                            :key="i.key"
                            :class="i._class"
                            :for="i._id"
                        >
                            <input type="radio" :id="i._id" @click="element.table.race.click(i.key)" v-model="model.race" name="race" :value="i.name">
                            <span>{{i.name}}</span>
                        </label>
                    </div>
                </div>
                <div class="container list-container">
                    <div class="list">
                        <div class="list-head item-list-container">
                            <div><span>세공 능력치</span></div>
                            <div><span>레벨</span></div>
                            <div><span>확률</span></div>
                            <div><span>중복</span></div>
                            <div v-if="option !== 'manual'"><span>선택</span></div>
                        </div>
                        <div class="list-body">
                            <div
                                v-for="i in element.table.list.get()"
                                :key="i.key"
                                :class="i._class"
                            >
                                <div class="item-list-container">
                                    <div @click="element.table.list.click(i.key)"><span>{{i.stat}}</span></div>
                                    <div @click="element.table.list.click(i.key)"><span>{{i.level_range}}</span></div>
                                    <div @click="element.table.list.click(i.key)"><span>{{i.chance_of_appearance}}</span></div>
                                    <div @click="element.table.list.click(i.key)"><div v-if="i.duplication"></div></div>
                                    <div v-if="option !== 'manual'">
                                        <label :for="i._id">
                                            <input :id="i._id" type="checkbox" v-model="model.list" :value="i.stat" :disabled="i.param.disable">
                                            <div class="item-list-track"></div>
                                            <div class="item-list-check"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="item-list-container item-list-conatainer-detail"
                                    v-for="j in i.chance_of_each_level"
                                    :key="j.key"
                                    v-if="i.param.clicked"
                                >
                                    <div></div>
                                    <div><span>{{j.level}}</span></div>
                                    <div><span>{{j.inner_chance}}</span></div>
                                    <div></div>
                                    <div v-if="option !== 'manual'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container pick-container">
                    <div class="pick pick-manual" v-if="option === 'manual'">
                        <div class="pick-button pick-manual-button">
                            <button @click="clickManualPickButton">뽑기</button>
                            <button @click="clear">초기화</button>
                        </div>
                        <div class="pick-calc">
                            <div class="pick-calc-count">
                                <span>뽑은 횟수:</span>
                                <span>{{calc.num}} 번</span>
                            </div>
                            <div class="pick-calc-price">
                                <span>총 가격:</span>
                                <span>{{getPrice}} 원</span>
                            </div>
                        </div>
                        <div class="pick-table" :style="style.pick">
                            <div class="pick-table-content pick-table-head">
                                <div class="item-pick-table-container">
                                    <div><span>세공 능력치</span></div>
                                    <div><span>레벨</span></div>
                                </div>
                            </div>
                            <div class="pick-table-content pick-table-body">
                                <div class="item-pick-table-container"
                                    v-for="i in this.element.table.pick.get()"
                                    :key="i.key"
                                >
                                    <div><span>{{i.name}}</span></div>
                                    <div><span>{{i.level}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pick pick-auto" v-else>
                        <div class="pick-button pick-auto-button">
                            <button @click="clickAutoPickButton">{{button.auto}}</button>
                        </div>
                        <div class="pick-calc">
                            <div class="pick-calc-count">
                                <span>뽑은 횟수:</span>
                                <span>{{calc.num}} 번</span>
                            </div>
                            <div class="pick-calc-price">
                                <span>총 가격:</span>
                                <span>{{getPrice}} 원</span>
                            </div>
                        </div>
                        <div class="pick-prefer">
                            <div class="pick-prefer-content pick-prefer-head">
                                <div class="item-pick-prefer-container">
                                    <div><span>선호 세공 능력치</span></div>
                                    <div><span>레벨 범위</span></div>
                                    <div><span>레벨 입력</span></div>
                                </div>
                            </div>
                            <div class="pick-prefer-content pick-prefer-body">
                                <div class="item-pick-prefer-container"
                                    v-for="i in element.table.prefer.get()"
                                    :key="i.key"
                                >
                                    <div><span>{{i.stat}}</span></div>
                                    <div><span>{{i.level_range}}</span></div>
                                    <div><input type="text" @change="e => element.table.prefer.change(i.key, e)" :value="i.value"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pick-table" :style="style.pick">
                            <div class="pick-table-content pick-table-head">
                                <div class="item-pick-table-container">
                                    <div><span>세공 능력치</span></div>
                                    <div><span>레벨</span></div>
                                </div>
                            </div>
                            <div class="pick-table-content pick-table-body">
                                <div class="item-pick-table-container"
                                    v-for="i in this.element.table.pick.get()"
                                    :key="i.key"
                                >
                                    <div><span>{{i.name}}</span></div>
                                    <div><span>{{i.level}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pick-change-method">
                        <div class="pick-change-method-button">
                            <button @click="changePickMethodToManual">수동</button>
                            <button @click="changePickMethodToAuto">자동</button>
                        </div>
                        <div class="pick-change-method-alert"><span>한계돌파 레벨은 능력치 1개에만 적용 추천, 2개 이상은 매우 오래 걸림.</span></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/main/main.js"></script>
    </body>
</html>