*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
    overflow: hidden;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
input[type="radio"], input[type="checkbox"]{
    display: none;
}
input[type="text"]:focus{
    outline: none;
}
label{
    cursor: pointer;
}


/* scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.5); 
}


/* table */
div#table{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95vw;
    height: 95vmin;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}
.on-click-item{
    background: rgba(255, 255, 255, 0.125);
    color: white;
}


/* container */
div.container{
    margin-right: 1%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6vmin;
}
div.container:nth-child(1){
    flex: 1.2;
}
div.container:nth-child(2){
    flex: 3.5;
}
div.container:nth-child(3){
    margin-right: 0;
    flex: 3;
}
.item{
    cursor: pointer;
}
.item:hover{
    background: rgba(255, 255, 255, 0.125);
    color: white;
}


/* category */
div.category-container{
    font-size: 1.6vmin;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}
div.category{
    flex: 2;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-bottom: 5%;
    padding: 5%;
    overflow-y: auto;
}
div.category:last-child{
    flex: 1;
    margin-bottom: 0;
}
div.category label{
    display: block;
    position: relative;
    width: 100%;
    height: 3.5vmin;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.category label:hover{
    background: rgba(255, 255, 255, 0.125);
    color: white;
}
div.category input{
    display: none;
}
div.category span{
    position: absolute;
    padding-left: 2%;
    top: 50%;
    transform: translate(0, -50%);
}


/* list */
div.list-container{
    color: rgba(255, 255, 255, 0.6);
}
div.list{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
div.item-list-container{
    width: 100%;
    height: 3.5vmin;
    display: flex;
    flex-wrap: wrap;
}
div.item-list-container div{
    position: relative;
    overflow: hidden;
}
div.item-list-container div > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.item-list-container > div:nth-of-type(1){
    flex: 7.5;
}
div.item-list-container > div:nth-of-type(2){
    flex: 1.2;
}
div.item-list-container > div:nth-of-type(3){
    flex: 1.8;
}
div.item-list-container > div:nth-of-type(4){
    flex: 1.2;
}
div.item-list-container > div:nth-of-type(5){
    flex: 1.2;
}
div.item-list-container > div:nth-of-type(1) span{
    left: 3%;
    transform: translate(0, -50%);
}
div.item-list-container label{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
div.item-list-container label div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.item-list-container label input:checked ~ div.item-list-check{
    display: block;
}
div.item-list-track{
    width: 2vmin;
    height: 2vmin;
    background: rgba(255, 255, 255, 0.2);
}
div.item-list-check{
    width: 1.2vmin;
    height: 1.2vmin;
    background: white;
    display: none;
}
/* list head */
div.list-head{
    display: flex;
    flex: 0.05;
    color: white;
}
div.list-head div{
    position: relative;
}
div.list-head div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.list-head div:last-child{
    margin-right: 10px;
}
/* list body */
div.list-body{
    flex: 1;
    overflow-y: auto;
}
div.list-body div.item-list-container div:nth-of-type(4) div{
    width: 1.6vmin;
    height: 1.6vmin;
    background: white;
    border-radius: 50%;
}
div.item-list-conatainer-detail{
    color: red;
}


/* pick container*/
div.pick-container button{
    text-decoration: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color:rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-size: 1.6vmin;
    flex: 1;
}
div.pick-container button:hover{
    color: white;
    background:rgba(255, 255, 255, 0.125);
}
div.pick-container button:focus{
    outline: none;

}
/* pick */
div.pick{
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2%;
    color:rgba(255, 255, 255, 0.5);
    font-size: 1.6vmin;
}
div.pick > div{
    margin-bottom: 3%;
}
/* pick button */
div.pick-button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 4.5vmin;
}
div.pick-button button{
    flex: 1;
    margin-right: 2%;
}
div.pick-button button:last-child{
    margin-right: 0;
}
/* pick calc */
div.pick-calc > div{
    position: relative;
    width: 100%;
    height: 3.5vmin;
    color:rgba(255, 255, 255, 0.8);
}
div.pick-calc > div:hover{
    background:rgba(255, 255, 255, 0.125);
}
div.pick-calc > div:last-child{
    margin-bottom: 0;
}
div.pick-calc > div span{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
div.pick-calc > div span:first-child{
    left: 0;
}
div.pick-calc > div span:last-child{
    right: 0;
}
/* pick table */
div.pick-table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}
div.item-pick-table-container{
    overflow: hidden;
    width: 100%;
    height: 3.5vmin;
    display: flex;
}
div.item-pick-table-container > div{
    position: relative;
}
div.item-pick-table-container > div:first-child{
    flex: 0.9;
}
div.item-pick-table-container > div:last-child{
    flex: 0.1;
}
div.item-pick-table-container > div span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
/* pick table head */
div.pick-table-head{
    flex: 0.1;
    display: flex;
}
/* pick table body */
div.pick-table-body{
    flex: 0.9;
}
/* pick prefer */
div.pick-prefer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    padding-top: 1%;
    padding-bottom: 1%;
}
/* pick prefer head */
div.pick-prefer-head{
    flex: 0.1;
    display: flex;
}
/* pick prefer body */
div.pick-prefer-body{
    flex: 0.9;
}
div.item-pick-prefer-container{
    overflow: hidden;
    width: 100%;
    height: 3.5vmin;
    display: flex;
}
div.item-pick-prefer-container > div{
    position: relative;
}
div.item-pick-prefer-container > div:nth-child(1){
    flex: 0.75
}
div.item-pick-prefer-container > div:nth-child(2){
    flex: 0.125
}
div.item-pick-prefer-container > div:nth-child(3){
    flex: 0.125
}
div.item-pick-prefer-container > div *{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
div.item-pick-prefer-container > div:nth-child(1) span{
    left: 0;
    transform: translate(0, -50%);
}
div.item-pick-prefer-container > div input{
    width: 40%;
    height: 80%;
    text-align: center;
    background: rgba(255, 255, 255, 0.125);
    color: white;
    font-size: 1.6vmin;
    border: none;
}

/* pick change method */
div.pick-change-method{
    margin-top: 1%;
    width: 100%;
    height: 3vmin;
    display: flex;
    flex-wrap: wrap;
}
div.pick-change-method button{
    margin-right: 4%;
}
div.pick-change-method button:last-child{
    margin-right: 0;
}
div.pick-change-method-button{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}
div.pick-change-method-alert{
    position: relative;
    width: 80%;
}
div.pick-change-method-alert span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}